
<div class="wrapper container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="https://previews.123rf.com/images/valentint/valentint1611/valentint161104880/66181870-login-icon-login-website-button-on-white-background-.jpg" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                
                <form #userForm="ngForm" (ngSubmit)="onLoginSubmit()">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="user_Id" class="form-control input_user" value="" placeholder="username"
                        #username="ngModel" [(ngModel)]="user.emailId"  [class.is-invalid]="username.invalid && username.touched" required minlength="5" />

					<small class="text-danger" [class.d-none]="username.untouched || username.valid">This is required field</small>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control input_pass" value="" placeholder="password"
                        #password="ngModel" [(ngModel)]="user.password"  [class.is-invalid]="password.invalid && password.touched" required minlength="7" />
                          <br>  
                        <small class="text-danger" [class.d-none]="password.untouched || password.valid">This is required field</small>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="remember" class="custom-control-input" id="customControlInline" 
                            #enabled="ngModel" [(ngModel)]="user.enabled"  [class.is-invalid]="enabled.invalid && enabled.touched" required />                    
                            <label class="custom-control-label" for="customControlInline">Remember me</label> <br>
                            <small class="text-danger" [class.d-none]="enabled.untouched || enabled.valid">check me</small>
                        </div>
                    </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                 <button type="submit" name="button" class="btn login_btn" [disabled]="!userForm.valid">Login</button>
               </div>
                </form>
            </div>
    
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a href="#" class="ml-2">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
